body {
    background-image: url('https://s1.1zoom.me/b5050/774/Ireland_Donegal_Bay_Crag_Moss_Clouds_549813_1920x1080.jpg');
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-position: center ;
    background-position-y: top;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
}   

#LogoImg {
    height: 100%;
}

.menu {
    position: absolute;
    list-style-type: none;
    background-color: yellow;
    color: rgb(0, 0, 0);
    margin-left: 0%;
    padding-left: 0%;
    width: 200px;
    right: 0;
    top: 0;
    

}
.menu a{
    display: inline;
    font-size: 14px;
    text-transform: uppercase;
}